!
version 17.9
!
hostname TEST-ROUTER-01
!
!
! SSH CONFIGURATION
!
ip ssh version 2
!
line vty 0 4
 transport input ssh
!
!
! HTTP MANAGEMENT
!
ip http server
!
!
! TELNET
!
line vty 5 15
 transport input telnet
!
!
! LOGGING
!
logging host 192.168.1.100
logging trap informational
!
!
! NTP
!
ntp server 192.168.1.10
!
!
! SNMP
!
snmp-server community public RO
!
!
! INTERFACES
!
interface GigabitEthernet0/0
 description WAN Interface
 ip address 192.168.10.1 255.255.255.0
 no shutdown
!
interface GigabitEthernet0/1
 description LAN Interface
 ip address 10.0.0.1 255.255.255.0
 no shutdown
!
!
! BANNER
!
banner motd #
AUTHORIZED ACCESS ONLY
All activities are monitored and logged.
#
!
end